<div class="panel panel-default">
    <div class="panel-heading">
        <font style="font-size: 25px" color="Orange">
            @Model
        </font>
        <b style="font-size: 25px;float:right" id="managerId"></b>
    </div>
</div>

<script>
    apiManager = "/" + '@Model' + "/AllAIStateNow";
</script>