<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body row">
            <div class="col-md-2">
                <b style="font-size: 20px">&nbsp;@Model[0]&nbsp;</b>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input id="@Model[0].ToString()textId" type="text" class="form-control" value="0">
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal_@Model[0]">
                    note
                </button>
                <div class="modal fade" id="myModal_@Model[0]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Note</h4>
                            </div>
                            <div class="modal-body" data-html="true" style="font-size: 16px">
                                <text id="@Model[0].ToString()noteId">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:right">
                <button type="button" class="btn btn-success" onclick="apply('@Model[0]')">
                    <b>&nbsp;Apply&nbsp;</b>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</body>
</html>
