<div class="panel panel-default">
    <div class="panel-heading">
        <font style="font-size: 25px" color="Orange">
            @Model
        </font>
        <b style="font-size: 25px;float:right" id="uploadId"></b>
    </div>
</div>

<script>
    apiUpload = "/" + '@Model' + "/state";
</script>
