<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @Html.Partial("_PatrialDetail", "SampleRate");
    @Html.Partial("_PatrialDetail", "Length");
    @Html.Partial("_PatrialDetail", "ChannelName");
</body>
</html>

<script>
    window.onload = function () {
        var path = window.location.pathname;
        var cardId = path.substring(path.lastIndexOf("/"));
        alert(cardId);
    }
</script>